{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10"
      },
      "corejs": 3,
      "useBuiltIns": "usage"
    }],
    "@ditojs/babel-preset"
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "packagejson",
      "alias": {
        "~": ".",
        "@": "./src/server"
      }
    }],
    "dynamic-import-node",
    "transform-promise-to-bluebird"
  ]
}
