{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "9"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@ditojs/babel-preset"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "cwd": "packagejson",
        "alias": {
          "~": ".",
          "@": "./src/server"
        }
      }
    ],
    "transform-export-extensions",
    "dynamic-import-node",
    "transform-promise-to-bluebird"
  ]
}
