{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "not ie <= 11"
        ]
      },
      "corejs": 3,
      "useBuiltIns": "usage",
      "modules": false
    }],
    "@ditojs/babel-preset"
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "~": "../..",
        "@": "."
      }
    }],
    "@babel/plugin-transform-runtime"
  ],
  "comments": false
}
